<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myMapper">
  <select id="getUserByUsername" parameterType="String" resultType="com.github.NervousOrange.springboot.entity.User">
        select * from user where username = #{username}
  </select>
  <insert id="insertNewUser" parameterType="com.github.NervousOrange.springboot.entity.User">
        insert into user (username,encrypted_password,avatar,created_at,updated_at)
        values (#{username},#{encryptedPassword},#{avatar},#{createdAt},#{updatedAt})
  </insert>
</mapper>


